.header-button {
  color: var(--lk-white);
  background-color: unset;
  border: none;
  border-radius: var(--lk-radius-md);
  transition: all 0.25s ease;
}
.header-button-active {
  color: var(--lk-blue);
  background-color: var(--lk-white);
}
