@import "tailwindcss";
@import "../assets/iconfont/iconfont.css";

.leekono-home {
  background-color: #fff;
}

.leekono-home-carousel {
  padding: 12px;
}

.leekono-home-image {
  border-radius: 12px;
}

.leekono-home-title {
  margin: 0;
}

.leekono-home-about-us {
  padding: 0 12px;
}

.leekono-home-company {
  margin-bottom: 12px;
}

.leekono-home-desc {
  color: #86909c;
  line-height: 1.5;
}

.leekono-home-section {
  background-color: #fff;
  margin-top: 20px;
}

.leekono-home-about-us-dec {
  color: #86909c;
  margin-top: 8px;
}

.leekono-home-about-us-data {
  padding: 0 20px;
}

.leekono-home-card {
  padding: 4px 4px 0 4px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.leekono-home-card-content {
  padding-top: 24px;
  width: 100%;
  text-align: center;
}

.leekono-home-card-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.leekono-home-card-title {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 600;
}

.leekono-home-card-image {
  width: 100%;
  border-radius: 28px;
  margin-bottom: 4px;
  margin-top: 28px;
}

.leekono-home .leekono-swiper-card {
  height: fit-content;
}

.leekono-home .ant-image {
  border-radius: 12px;
}

.leekono-home .ant-statistic-title {
  min-height: 44px;
}

.leekono-home-section .adm-swiper-slide {
  padding: 20px 6px;
}

@media screen and (max-width: 480px) {
  .leekono-home-content {
    height: 80vh;
    min-height: 680px;
    max-width: 1920px;
    max-height: 1260px;
    margin: 0 auto;
    width: 87.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 500;
  unicode-bidi: isolate;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}



.cls-1 {
  fill: #d6b49a;
}

.cls-1,
.cls-10,
.cls-11,
.cls-13,
.cls-14,
.cls-15,
.cls-17,
.cls-2,
.cls-4,
.cls-5,
.cls-6 {
  stroke: #000;
}

.cls-1,
.cls-11,
.cls-13,
.cls-14,
.cls-16,
.cls-8 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-width: 3px;
}

.cls-2 {
  fill: #020202;
}

.cls-10,
.cls-12,
.cls-15,
.cls-17,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-3 {
  fill: #818181;
}

.cls-12,
.cls-16,
.cls-3,
.cls-7,
.cls-8,
.cls-9 {
  stroke: #191818;
}

.cls-4 {
  fill: #dcdbda;
}

.cls-5 {
  fill: #4ea7f1;
}

.cls-14,
.cls-6 {
  fill: #f8f3ed;
}

.cls-16,
.cls-7 {
  fill: #333;
}

.cls-13,
.cls-8 {
  fill: none;
}

.cls-9 {
  fill: #f8f59c;
}

.cls-10,
.cls-11 {
  fill: #f3d2c9;
}

.cls-15 {
  fill: #8bb174;
}

.cls-17 {
  fill: #da4e22;
}

.mb20 {
  margin-bottom: 20px;
}